In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({'color': ['red','blue','green','blue','green','red']})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3   blue
4  green

In [4]:
encoder=OneHotEncoder()

In [7]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [10]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          1.0        0.0
5         0.0          0.0        1.0

In [11]:
pd.concat([df, encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4  green         0.0          1.0        0.0
5    red         0.0          0.0        1.0