In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({'color': ['red','blue','green','blue','green','red']})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3   blue
4  green

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lbl_encod = LabelEncoder()

In [8]:
lbl_encod.fit_transform(df[['color']])

C:\Users\pranj\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 0, 1, 2])

In [9]:
lbl_encod.transform([['red']])

C:\Users\pranj\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2])

In [12]:
lbl_encod.transform([['blue']])

array([0])

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
df = pd.DataFrame({'size':['small','medium','large','medium','large','small']})

In [15]:
df

     size
0   small
1  medium
2   large
3  medium
4   large
5   small

In [16]:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [19]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.]])