In [1]:
print("HELLO")

HELLO

In [2]:
age=int(input("Enter you age : "))
if age>=18 and age<=45:
    print("You are young blood")

Enter you age : 34
You are young blood

In [3]:
product_price= int(input("Enter the product price : "))
if product_price > 1000:
    print("You get 20 percent off")
    print("The price of product after discount is ", (4*product_price)/5)
else:
    print("You get 30 percent off")
    print("The price of product after discount is ", (7*product_price)/10)

Enter the product price : 300
You get 30 percent off
The price of product after discount is  210.0

In [4]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink coffee")

Enter the price2999
Congratulations you get an additional gift
The price of the product is 2099.2999999999997

In [5]:
join_age=23
while join_age<=60:
    print(join_age)
    join_age=join_age+1
else:
    print("It's time to retire")

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time to retire

#FOR LOOPS

In [8]:
list1=["Hello",1,2,3,4,"Bye"]
for i in list1:
    print(i)

Hello
1
2
3
4
Bye

In [9]:
list1=["Hello",1,2,3,4,"Bye"]
for i in list1:
    print(i, end=" ")

Hello 1 2 3 4 Bye

In [15]:
for i in range(0,7):
    for i in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [22]:
fruits=["mango", "apple", "banana", "guava", "orange"]
for i in fruits:
    if i == "banana":
        break
    print(i)

mango
apple

In [20]:
fruits=["mango", "apple", "banana", "guava", "orange"]
for i in fruits:
    if i == "banana":
        continue
    print(i)

mango
apple
guava
orange

In [23]:
fruits=["mango", "apple", "banana", "guava", "orange"]
for i in fruits:
    if i == "banana":
        pass
    print(i)

mango
apple
banana
guava
orange